h1, h5{
  font-family: 'Poppins', sans-serif;
}
.top-logo{
    width: 300px;
    height: 50px;
}
.menu-area{
  margin-right: 60px;
}
.menu-area a{
  font-weight: 600;
  color: black;
}
.header-area{
  background-color: #FFFBF0;
  height: 700px;
}
/* /* .middile-area{} */
.text-area{
  padding-top: 15px;
}
.text-area h1{
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FABE4C;
}
.special-color{
  color: #363958;
}
.pic-area img{
  width: 440px;
  height: 500px;
}
.button-area{
  margin-top: 20px;
  background-color: #A4BC46;
  border: 0;
  color: white;
  font-weight: 400;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}
.button-area i{
  font-size: 15px;
  background-color: white;
}
.women-product{
  margin-top: 60px;
}
.card-area{
  height: 550px;
  margin-top: 60px;
  box-shadow: 10px 10px 40px #F1F1F1;
  border-radius: 10%;
  border: 0;

}
.card-area img{
  background-color: #F1F1F1;
  border-radius: 10%;
  width: 90%;
  height: 300px;
  margin-top: 5%;
  margin-left: 5%;
}
.price-area h1{
  margin-top: 20px;
  color: #FABE4C;
}
h5{
  color:#363958;
}
.man-product{
  margin-top: 60px;
}
.down-section{
  margin-top: 70px;
  margin-bottom: 50px;
}
.first-section{
  display: flex;
  justify-content: left;
  padding: 15px;
  box-shadow: 10px 10px 40px rgb(204, 202, 202);
  margin-top: 15px;
  border-radius: 10px;
  padding-left: 20px;
}
.first-section img{
  width: 100px;
  height: 100px;
}
.second-section img{
  width: 100%;
  height: 400px;
}
.right-section{
  padding-left: 10px;
}
.contact-area{
  margin-top: 80px;
}
.contact-area h1{
  margin-left: 8px;
  color: white;
}
.left-area{
  margin-top: 40px;
}
.left-area input{
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 5px;
}
.right-area{
  margin-top: 8px;
}
.right-area input{
  width: 100%;
  height: 125px;
  border-radius: 5px;
  border: 0;
}
.contact-area{
  background-color: gray;
  border-radius: 10px;
}
.btn-area{
  margin-bottom: 80px;
}
.btn-area button{
  width: 150px;
  height: 40px;
  background-color: palevioletred;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  font-family: 'Poppins', sans-serif;
}
footer{
  width: 100%;
  height: 60px;
  border: 1px solid;
  margin-top: 40px;
  text-align: center;
  padding-top: 15px;
  background-color: black;
  color: whitesmoke;
}